.start__wrap {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);

    position: absolute;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.start__button {
    font-size: 18px;
    letter-spacing: 2px;
}

.hide {
    display: none;
}

.field {
    height: 97vh;
    border: 1px solid black;
    position: relative;
}

.square {
    width: 7px;
    height: 7px;
    background: rgb(0,0,0);
    border: 1px solid black;
    border-radius: 50%;

    position: absolute;
}